<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PlusFlix - main{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/movie-main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/banner.css') }}">
    {% endblock %}

</head>
<body>
    <header>
         {% include 'movie/banner.html.twig' %}
    </header>

    <main>
        <div class="search-section">
            <input type="search" >
            <button class="search-button">SZUKAJ</button>
        </div>

        <div class="selection-section">
            <div class="categories">
                <div class="normal-buttons">
                    <button class="normal-button">KOMEDIA</button>
                    <button class="normal-button">DRAMAT</button>
                    <button class="normal-button">HORROR</button>
                    <button class="normal-button">SCI-FI</button>
                    <button class="normal-button">AKCJA</button>
                    <button class="normal-button">THRILLER</button>
                    <button class="normal-button last-button">PRZYGODOWY</button>
                </div>
                <div class="small-buttons">
                    <button id="test" class="small-button" id="favourite-button">
                        <img src="./favorite.svg" alt="favourite movies button">
                    </button>
                    <button class="small-button" id="clear-button">
                        <img src="./mop.svg" alt="clear options button">
                    </button>
                </div>
            </div>

            <div class="custom-select-wrapper">
                <div class="custom-select">
                    Sortowanie
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff" transform="scale(-1,1)">
                    <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                </svg>
                </div>
                <div class="custom-options">
                  <div data-value="default">DEFAULT</div>
                  <div data-value="rating">PO OCENIE</div>
                </div>
            </div>
        </div>


        <div class="selection-section-mobile">
            <div class="categories-mobile">
                <div class="custom-select-wrapper">
                    <div class="custom-select">
                        Kategoria
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff" transform="scale(-1,1)">
                        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                    </svg>
                    </div>
                    <div class="custom-options">
                      <div data-value="comedy">KOMEDIA</div>
                      <div data-value="drama">DRAMAT</div>
                      <div data-value="horror">HORROR</div>
                      <div data-value="sci-fi">SCI-FI</div>
                      <div data-value="action">AKCJA</div>
                      <div data-value="thriller">THRILLER</div>
                      <div data-value="adventure">PRZYGODOWY</div>
                    </div>
                </div>
    
                <button id="favourite-button" class="normal-button">
                    <img src="./favorite.svg" alt="favourite movies button">
                </button>
    
                <button id="clear-button" class="normal-button">
                    <img src="./mop.svg" alt="clear options button">
                </button>
            </div>

            <div id="sort-select" class="custom-select-wrapper">
                <div class="custom-select">
                    Sortowanie
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff" transform="scale(-1,1)">
                    <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                </svg>
                </div>
                <div class="custom-options">
                  <div data-value="1">Option 1</div>
                  <div data-value="2">Option 2</div>
                </div>
            </div>
        </div>

        <div class="movies-container">
            {% for movie in movies %}
                    <div class="movie-container">
                        <a href="{{ path('movie_show', { id: movie.id }) }}">
                            <div class="movie-banner"
                                style="background: #{{ movie.banner }}"></div>
                            <div class="movie-info">
                                <p class="movie-title">{{ movie.title }}
                                     <span class="movie-rating">({{ movie.rating }})</span>
                                </p>
                            </div>
                        </a>
                    </div>
            {% endfor %}
        </div>

    </main>

    <script>
        const selectWrapper = document.querySelector('.custom-select-wrapper');
        const selectBox = selectWrapper.querySelector('.custom-select');
        const options = selectWrapper.querySelectorAll('.custom-options div');

        const categoriesButtons = document.querySelectorAll('.normal-button, .small-button');

        categoriesButtons.forEach(btn => {
            btn.addEventListener('click', () => {
                if (btn.classList.contains('selected')) {
                    btn.classList.remove('selected');
                } else {
                    btn.classList.add('selected');
                }
            });
        });
      
        selectBox.addEventListener('click', () => {
          selectWrapper.classList.toggle('open');
        });
      
        options.forEach(option => {
          option.addEventListener('click', () => {
            selectBox.textContent = option.textContent;
            selectBox.innerHTML = `
                ${option.textContent}
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff" transform="scale(-1,1)">
                <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>`;
            selectWrapper.classList.remove('open');
          });
        });
      
        // Close dropdown if clicked outside
        document.addEventListener('click', (e) => {
          if (!selectWrapper.contains(e.target)) {
            selectWrapper.classList.remove('open');
          }
        });
    </script>

</body>
</html>