<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Panel Administratora{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/admin-panel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/banner.css') }}">
    {% endblock %}
</head>
<body>

<div class="container">
    <header>
        {% include 'admin/banner-admin.html.twig' %}
    </header>

    <div class="tab-container">
        <button class="tab-button active" data-tab="films" id="tab-films">FILMY</button>
        <button class="tab-button" data-tab="platforms" id="tab-platforms">PLATFORMY</button>
    </div>

    <div class="util-list">
        <div class="buttons-container">
            <button class="util-button" id="add-button">DODAJ</button>
            <button class="util-button" id="delete-button">USUŃ</button>
        </div>

        <div class="search-container">
            <input type="search" >
        </div>
    </div>

    <div class="tab-content" id="films">
        <ul class="item-list">
            {% for movie in movies %}
                <li>
                    <a href="{{ path('admin_movie_edit', { id: movie.id }) }}">
                        <div class="item">
                            <div class="round-checkbox">
                                <input type="checkbox"
                                       id="checkbox-movie-{{ movie.id }}"
                                       data-id="{{ movie.id }}"
                                       data-category="movie"
                                />
                                <label for="checkbox-movie-{{ movie.id }}"></label>
                            </div>
                            <div>
                                {{ movie.title }}
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content hidden" id="platforms">
        <ul class="item-list">
            {% for platform in streamingPlatforms %}
                <li>
                    <a href="{{ path('admin_platform_edit', { id: platform.id }) }}">
                        <div class="item">
                            <div class="round-checkbox">
                                <input type="checkbox"
                                       id="checkbox-platform-{{ platform.id }}"
                                       data-id="{{ platform.id }}"
                                       data-category="platform"
                                />
                                <label for="checkbox-platform-{{ platform.id }}"></label>
                            </div>
                            <div>
                                {{ platform.name }}
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".tab-button");
        const tabs = document.querySelectorAll(".tab-content");
        const addButton = document.getElementById('add-button');
        const deleteButton = document.getElementById('delete-button');

        let currentTab = 'films';
        let selectedItemId = null;

        buttons.forEach(button => {
            button.addEventListener("click", () =>
            {
                const tabId = button.dataset.tab;
                currentTab = tabId;

                buttons.forEach(b => b.classList.remove("active"));
                button.classList.add("active");

                tabs.forEach(tab =>
                {
                    tab.classList.toggle("hidden", tab.id !== tabId);
                });

                selectedItemId = null;
            });
        })

        deleteButton.addEventListener("click", () => {
            const activeTab = document.getElementById(currentTab);
            const checkedBoxes = activeTab.querySelectorAll("input[type='checkbox']:checked");

            if (checkedBoxes.length === 0) {
                alert("Nie wybrano żadnych pozycji!");
                return;
            }

            const ids = Array.from(checkedBoxes).map(cb => cb.dataset.id);

            const route =
                currentTab === "films"
                    ? "/admin/movie/delete"
                    : "/admin/platform/delete";

            fetch(route, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ ids: ids })
            })
                .then(r => r.json())
                .then(data => {
                    if (data.success) {
                        checkedBoxes.forEach(cb => {
                            cb.closest("li").remove();
                        });
                    } else {
                        alert("Wystąpił błąd podczas usuwania.");
                    }
                })
                .catch(err => {
                    console.error(err);
                    alert("Błąd po stronie klienta.");
                });
        });

        addButton.addEventListener('click', () =>
        {
            if (currentTab === 'films')
            {
                window.location.href = '{{ path("admin_movie_add") }}';
            }
            else if (currentTab === 'platforms')
            {
                window.location.href = '{{ path("admin_platform_add") }}';
            }
        });
    });
</script>
</body>
</html>
