<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Panel Administratora{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/admin-panel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/banner.css') }}">
    {% endblock %}
</head>
<body>

<div class="container">
    <header>
        {% include 'admin/banner-admin.html.twig' %}
    </header>

    <div class="tab-container">
        <button class="tab-button active" data-tab="films" id="tab-films">FILMY</button>
        <button class="tab-button" data-tab="platforms" id="tab-platforms">PLATFORMY</button>
    </div>

    <div class="util-list">
        <div class="buttons-container">
            <button class="util-button" id="add-button">DODAJ</button>
            <button class="util-button" id="delete-button">USUŃ</button>
        </div>

        <div class="search-container">
            <input type="search" >
        </div>
    </div>

    <div class="tab-content" id="films">
        <ul class="item-list">
            {% for movie in movies %}
                <li>
                    <a href="{{ path('admin_movie_edit', { id: movie.id }) }}">
                        <div class="item">
                            <div class="round-checkbox">
                                <input type="checkbox"
                                       id="checkbox-movie-{{ movie.id }}"
                                       data-id="{{ movie.id }}" />
                                <label for="checkbox-movie-{{ movie.id }}"></label>
                            </div>
                            <div>
                                {{ movie.title }}
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content hidden" id="platforms">
        <ul class="item-list">
            {% for platform in streamingPlatforms %}
                <li>
                    <a href="{{ path('admin_platform_edit', { id: platform.id }) }}">
                        <div class="item">
                            <div class="round-checkbox">
                                <input type="checkbox"
                                       id="checkbox-platform-{{ platform.id }}"
                                       data-id="{{ platform.id }}" />
                                <label for="checkbox-platform-{{ platform.id }}"></label>
                            </div>
                            <div>
                                {{ platform.name }}
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".tab-button");
        const tabs = document.querySelectorAll(".tab-content");
        const addButton = document.getElementById('add-button');

        let currentTab = 'films';
        let selectedItemId = null;

        buttons.forEach(button => {
            button.addEventListener("click", () =>
            {
                const tabId = button.dataset.tab;
                currentTab = tabId;

                buttons.forEach(b => b.classList.remove("active"));
                button.classList.add("active");

                tabs.forEach(tab =>
                {
                    tab.classList.toggle("hidden", tab.id !== tabId);
                });

                selectedItemId = null;
            });
        })

        // Dodawanie
        addButton.addEventListener('click', () =>
        {
            if (currentTab === 'films')
            {
                window.location.href = '{{ path("admin_movie_add") }}';
            }
            else if (currentTab === 'platforms')
            {
                window.location.href = '{{ path("admin_platform_add") }}';
            }
        });
    });
</script>
</body>
</html>
